{% extends 'base.html' %}


{% block title %}
    Add Venue
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <center>
        <h1>Add Venue to Database</h1>
        <br>
        <br>
        {% if submitted %}
             Your venue was submitted successfully!!!

        {% else %}
        
            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        {% endif %}
    </center>


{% else %}
    <h1>Sorry! You Must Be Logged In To View This Page</h1><br><br>
    <a href="{% url 'login' %}">Login Here</a>
{% endif %}

{% endblock %}