{% extends 'base.html' %}


{% block title %}
    Update Event
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user == event.manager %}
    
    <br>
    <br>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Update" class="btn btn-secondary">

    </form>
    {% else %}
    <h2>Access Denied</h2>
    <p>Only the event's Manager can update this event...</p>
    Logged in User: {{ user }}
    <br>
    Event Manager: {{ event.manager }}
    {% endif %}
    
    
{% else %}
    <h1>Sorry! You Must Be Logged In To View This Page</h1><br><br>
    <a href="{% url 'login' %}">Login Here</a>
{% endif %}

{% endblock %}